
<html>

<head>
    <meta content-type: "application/json">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    
    
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

          $(document).ready(function (){

            

            var socket  = io.connect();            

           
            // make a textarea with an id and a button with an id
            $( '#login').click(function(){ 
                console.log($('#usertext').val());
                localStorage.setItem('user',$('#usertext').val());
                //socket.emit("new_user",$('#usertext').val());
            });


             
            socket.on( 'users', function (data){

              console.log( JSON.stringify(data));
              $('#users').text(JSON.stringify(data));
            });


            $('#comment').click(function(){ 
              //console.log($('#commenttext').val());
              socket.emit("new_comment",{user:localStorage.getItem('user'),comment:$('#commenttext').val()});
            });


            $( '#reset_users').click(function(){ 
              
              socket.emit("reset_users",true);

            });


            socket.on( 'comments', function (data){

              console.log( JSON.stringify(data));
              $('#comments').text(JSON.stringify(data));
            });


            $( '#reset_comments').click(function(){ 
              
              socket.emit("reset_comments",true);
              
            });
             
          })

    </script>

</head>
<body>
 
  
  <textarea id="usertext" name="usertext" id="name" placeholder="username"></textarea>
  <button id="login">login</button>
  <button id="reset_users">reset users</button>

  <div id="users"></div>

  <textarea id="commenttext" name="commenttext" id="commenttext" placeholder="comment"></textarea>
  <button id="comment">new comment</button>

  <button id="reset_comments">reset comments</button>

  <div id="comments"></div>

</body>

</html>
